/* Importer les polices depuis Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');


html {
  height: 100%; /* Assurez-vous que le body et html occupent toute la hauteur de l'écran */
  margin: 0; /* Supprimez les marges par défaut */
  padding: 0; /* Supprimez les rembourrages par défaut */
  scroll-behavior: smooth;
}


body {
  max-width: 1400px;
  

  margin: 0 auto;
}




/* Pour les titres (H1, H2, H3, H4) */
h1, h2, h3, h4 {
  font-family: 'Poppins', sans-serif;
}

/* Pour le reste du texte */
body, p, span, div, a, li {
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.04em;
}

h2 {
  text-align: center;
  font-size: 2em;
  letter-spacing: 0.15em;
  margin-top: 2em;
  margin-bottom: 2em;
}

p {
  text-align: center;
  line-height: 1.6;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}




/* largeur inférieure à 480px */
@media screen and (max-width: 479px) {
  
  body {
    margin: 5px; /* Applique une marge de 50px pour tous les côtés */

    margin-bottom: O;
    
  }
}

/* tablette en mode portrait */
@media screen and (min-width: 480px) and (max-width: 767px) {
  
  
}

/* tablette en mode paysage */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  
}

/* bureau */
@media screen and (min-width: 1024px) {
  
}