/* Style global pour centrer le contenu */
.jokes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 1em;
    padding-right: 1em;
  }
  
  /* Style pour le texte de la blague */
  #joke-text {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
    
  }
  
  /* Style pour le bouton */
  #refresh-btn {
    padding: 10px 20px;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    border: 1px solid rgb(236, 236, 236);
    background: #ffffff;
    border-radius: 3%;
    box-shadow: 4.8px 4.8px 8px #E0E2E5, -4.8px -4.8px 8px #FCFEFF;
  }
  
  /* Style pour l'effet hover */
  #refresh-btn:hover {
    font-size: 1.1em;
    border: 1px solid #ffffff;
    background: #fefeff;
    border-radius: 3%;
    box-shadow: inset 4.8px 4.8px 8px #E0E2E5, inset -4.8px -4.8px 8px #FCFEFF;
  }
  